<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>롯데자이언츠 온라인 샵</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="icon" href="/images/main/ff.png" type="image/x-icon">
</head>
<body>
<th:block th:replace="~{fragments/fragments.nav :: nav}"></th:block>
<div class="d-flex">
    <th:block th:replace="~{fragments/fragments.side :: sideBar}"></th:block>
    <div class="border">
        <div>
            <img class="" th:src="@{/images}+${pd.photoName} + '.jpg'" alt="야구상품사진정보">
        </div>
    </div>
    <form th:action="@{/product/payment}" method="post" th:object="${objectDTO}">
        <input type="hidden" th:name="productNo" th:value="${pd.productNo}">
        <table class="border">
            <tr>
                <input type="hidden" th:name="productName" th:value="${pd.name}">
                <td colspan="2" th:text="${pd.name}"></td>
            </tr>
            <tr>
                <th>가 격</th>
                <td th:text="${pd.price}"></td>
            </tr>
            <tr>
                <th>사 이 즈</th>
                <td>
                    <select class="size" th:name="sizeNo">
                        <option value="선택"> 선택</option>
                        <th:block th:each="s, status :${sizeList}">
                            <option th:value="${s.sizeNo}" th:utext="${s.sizeName}"></option>
                        </th:block>
                    </select>
                </td>
            </tr>
            <tr>
                <th>색 상</th>
                <td>
                    <select class="color" th:name="colorNo">
                        <option value="선택"> 선택</option>
                        <th:block th:each="c, status :${colorList}">
                            <option th:value="${c.colorNo}" th:utext="${c.colorName}"></option>
                        </th:block>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">구매하기
                    </button>
                    <button type="button" th:onclick="|location.href='@{/product/addcart/__${pd.productNo}__}'|">장바구니
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>