<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>롯데자이언츠 온라인 샵</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="icon" href="/images/main/ff.png" type="image/x-icon">
</head>
<body>
<th:block th:replace="~{fragments/fragments.nav :: nav}"></th:block>
<div class="d-flex">
    <th:block th:replace="~{fragments/fragments.side :: sideBar}"></th:block>
    <div class="d-flex justfy-content-center flex-fill">
        <div class="d-flex flex-column text-center flex-fill">
            <div style="width:91%; font-size: 20px; font-weight: bold; color: #333; background-color: #f0f0f0; padding: 5px 10px; border-radius: 5px;">
                <span style="color: #808080;">[[${pList[0].category1Name}]]</span>
                &nbsp; >> &nbsp;
                <span style="color: #000000;">[[${pList[0].category2Name}]]</span>
            </div>
            <div class="d-flex flex-wrap w-100">
                <th:block th:each="p, status :${pList}">
                    <div class="d-flex" style="width:24%;">
                        <div class="card border-1 m-1" style="height:380px; width: 100%; max-width: 15rem"
                             th:onclick="|location.href='@{/product/detail/__${p.productNo}__}'|">
                            <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                                <img class="img-fluid" th:src="@{/images}+${p.photoName} + '.jpg'" alt="야구상품사진정보"
                                     style="object-fit: contain; max-height: 100%;">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title" th:text="${p.name}"></h5>
                                <p class="card-text" th:text="${#numbers.formatInteger(p.price, 3, 'COMMA') + '원'}"></p>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>