<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/fragment :: config}"></th:block>
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{fragments/fragments.nav :: nav}"></th:block>

<div class="d-flex">
    <th:block th:replace="~{fragments/fragment :: myPageSideBar}"></th:block>
    <div class="content w-100 mt-3">
        <div class="content-title text-center">
            <h1>문의 목록</h1>
            <hr/>
        </div>
        <div class="content-body w-75 mx-auto">
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">상품명</th>
                    <th scope="col">문의정보</th>
                    <th scope="col">수정/삭제</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">

                <th:block th:if="${qDTOList.size() == 0}">
                    <th colspan="4">작성하신 문의가 없습니다.</th>
                </th:block>
                <th:block th:if="${qDTOList.size() > 0}">
                    <th:block th:each="q, status : ${qDTOList}">
                        <tr th:attr="id=${q.questionNo}">
                            <th class="align-middle" scope="row" th:text="${status.count}"></th>
                            <td class="align-middle pName" th:text="${q.productName}" th:onclick="|location.href='@{/product/detail/__${q.productNo}__}'|"></td>
                            <td class="align-middle qContent" th:attr="data-id=${q.questionNo}" th:text="${q.getQuestionContent()}"></td>
                            <td class="align-middle">
                                <button class="btn btn-primary btn-sm btn-modal" data-bs-toggle="modal" data-bs-target="#form" th:attr="data-id=${q.questionNo}">수정</button>
                                <a class="btn btn-danger btn-sm" onclick="return confirm('정말로 삭제할까요?')" th:href="@{/mypage/question/delete(questionNo=${q.questionNo})}">삭제</a>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade customModal" id="form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">문의 수정</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:object="${myPageQuestionDTO}" th:action="@{/mypage/question/update}" method="post">
                <div class="modal-body">
                    <input type="hidden" th:field="*{questionNo}">
                    <label class="mb-3 d-block">상품명</label>
                    <input type="text" class="form-control-plaintext w-100 mb-3" th:field="*{productName}" readonly>

                    <label for="questionContent" class="mb-3">문의 내용</label>
                    <input type="text" class="form-control w-100 mb-3" placeholder="문의 내용 입력" th:field="*{questionContent}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="submit" class="btn btn-primary btn-process">수정</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(".btn-modal").click(function(){
        var data = $(this).data('id');
        var content_id = "#"+data+">td.qContent";
        var pName_id = "#"+data+">td.pName";

        $(".modal-body>#questionNo").val(data);
        $(".modal-body>#productName").val($(pName_id).text());
        $(".modal-body>#questionContent").val($(content_id).text());
        $(".modal-body>#questionContent").prop('readonly', false);
        $(".modal-body>#questionContent").addClass("form-control");
        $(".modal-body>#questionContent").removeClass("form-control-plaintext");
        $(".modal-footer").append("<button type=\"submit\" class=\"btn btn-primary btn-process\">수정</button>");
    });

    $(".qContent").click(function(){
        $('.customModal').modal('toggle');
        $('.customModal').modal('show');

        var data = $(this).data('id');
        var content_id = "#"+data+">td.qContent";
        var pName_id = "#"+data+">td.pName";

        $(".modal-body>#questionNo").val(data);
        $(".modal-body>#productName").val($(pName_id).text());
        $(".modal-body>#questionContent").val($(content_id).text());
        $(".modal-body>#questionContent").prop('readonly', true);
        $(".modal-body>#questionContent").removeClass("form-control");
        $(".modal-body>#questionContent").addClass("form-control-plaintext");
        $(".modal-footer > button.btn-process").remove();
    });

</script>
</body>
</html>