<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/fragment :: config}"></th:block>
    <title>My Page</title>
</head>
<body>
<th:block th:replace="~{fragments/fragments.nav :: nav}"></th:block>

<div class="d-flex">
    <th:block th:replace="~{fragments/fragment :: myPageSideBar}"></th:block>
    <div class="content w-100">
        <div class="row m-2">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">회원 정보 수정</h5>
                        <p class="card-text">등록되어 있는 회원 정보를 수정합니다.</p>
                        <a href="/mypage/info" class="btn btn-success">회원 정보 수정</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">배송 주소록 관리</h5>
                        <p class="card-text">등록되어 있는 배송 주소록을 추가 수정 삭제할 수 있습니다.</p>
                        <a href="/mypage/address" class="btn btn-success">배송 주소록 관리</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">장바구니</h5>
                        <p class="card-text">등록한 장바구니 목록을 열람 및 삭제할 수 있습니다.</p>
                        <a href="/mypage/cart" class="btn btn-success">장바구니</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">구매목록</h5>
                        <p class="card-text">지금까지 구매하신 목록의 리스트를 볼 수 있습니다.</p>
                        <a href="/mypage/buylist" class="btn btn-success">구매목록</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">문의 목록</h5>
                        <p class="card-text">상품 문의한 것을 모아 볼 수 있습니다.</p>
                        <a href="/mypage/question" class="btn btn-success">문의 목록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>