<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/fragment :: config}"></th:block>
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{fragments/fragments.nav :: nav}"></th:block>

<div class="d-flex">
    <th:block th:replace="~{fragments/fragment :: myPageSideBar}"></th:block>
    <div class="content w-100 mt-3">
        <div class="content-title text-center">
            <h1>배송 주소록 관리</h1>
            <hr/>
        </div>
        <div class="content-body w-75 mx-auto">
            <button type="button" class="float-end btn btn-primary mb-2 btn-modal" data-bs-toggle="modal" data-bs-target="#form" data-id="0">
                등록
            </button>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">배송지명</th>
                        <th scope="col">주소</th>
                        <th scope="col">수정/삭제</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <th:block th:if="${addressList.size() == 0}">
                        <th colspan="4">등록된 주소 리스트가 없습니다. 등록해 주세요.</th>
                    </th:block>
                    <th:block th:if="${addressList.size() > 0}">
                        <th:block th:each="alist, status : ${addressList}">
                            <tr th:attr="id=${alist.addressListNo}">
                                <th class="align-middle" scope="row" th:text="${status.count}"></th>
                                <td class="align-middle name" th:text="${alist.addressName}"></td>
                                <td class="align-middle address" th:text="${alist.address}"></td>
                                <td class="align-middle">
                                    <button class="btn btn-primary btn-sm btn-modal" data-bs-toggle="modal" data-bs-target="#form" th:attr="data-id=${alist.addressListNo}">수정</button>
                                    <a class="btn btn-danger btn-sm" onclick="return confirm('정말로 삭제할까요?')" th:href="@{/mypage/address/delete(addressListNo=${alist.addressListNo})}">삭제</a>
                                </td>
                            </tr>
                        </th:block>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">배송지 등록</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:object="${myPageAddressDTO}" th:action="@{/mypage/address/register}" method="post">
                <div class="modal-body">
                    <input type="hidden" th:field="*{addressListNo}">
                    <label for="addressName" class="mb-3">배송지 이름 입력</label>
                    <input type="text" class="form-control w-100 mb-3" placeholder="배송지 이름 입력" th:field="*{addressName}">


                    <label for="address" class="mb-3">배송지 주소 입력</label>
                    <input type="text" class="form-control w-100 mb-3" placeholder="배송지 주소 입력" th:field="*{address}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="submit" class="btn btn-primary btn-process">등록</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(".btn-modal").click(function(){
        var data = $(this).data('id');
        var name_id = "#"+data+">td.name";
        var address_id = "#"+data+">td.address";
        var no_id = "#"+data;
        if(data === 0){
            $(".modal-header>.modal-title").text("배송지 등록");
            $(".modal-body>#addressListNo").val(data);
            $(".modal-body>#addressName").val("");
            $(".modal-body>#address").val("");
            $(".modal-footer>.btn-process").text("등록");
        }
        else{
            $(".modal-header>.modal-title").text("배송지 수정");
            $(".modal-body>#addressListNo").val(data);
            $(".modal-body>#addressName").val($(name_id).text());
            $(".modal-body>#address").val($(address_id).text());
            $(".modal-footer>.btn-process").text("수정");
        }

    });
</script>
</body>
</html>