<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitc.ftp.teamproject.mapper.admin.AdminProductMapper">

    <select id="getProductList" resultType="bitc.ftp.teamproject.vo.admin.AdminProductVO">
        SELECT
            photo.photoNo AS photoNo,
            photo.photoName AS photoName,
            p.productNo AS productNo,
            p.name AS productName,
            p.price AS price,
            c2.category2No AS category2No,
            c2.name AS category2Name,
            c2.name_ko AS category2Name_ko,
            c1.category1No AS category1No,
            c1.name AS category1Name,
            c1.name_ko AS category1Name_ko
        FROM
            product p
                LEFT JOIN productPhoto photo ON photo.productNo = p.productNo
                LEFT JOIN category2 c2 ON p.category2No = c2.category2No
                LEFT JOIN category1 c1 ON c2.category1No = c1.category1No;
    </select>

    <select id="searchProducts" resultType="bitc.ftp.teamproject.vo.admin.AdminProductVO">
        SELECT
            photo.photoNo AS photoNo,
            photo.photoName AS photoName,
            p.productNo AS productNo,
            p.name AS productName,
            p.price AS price,
            c2.category2No AS category2No,
            c2.name AS category2Name,
            c2.name_ko AS category2Name_ko,
            c1.category1No AS category1No,
            c1.name AS category1Name,
            c1.name_ko AS category1Name_ko
        FROM
            product p
                LEFT JOIN productPhoto photo ON photo.productNo = p.productNo
                LEFT JOIN category2 c2 ON p.category2No = c2.category2No
                LEFT JOIN category1 c1 ON c2.category1No = c1.category1No
        WHERE
            p.name LIKE CONCAT('%', #{keyword}, '%');
    </select>

    <select id="searchProductsByCategory" parameterType="map" resultType="bitc.ftp.teamproject.vo.admin.AdminProductVO">
        SELECT
            photo.photoNo AS photoNo,
            photo.photoName AS photoName,
            p.productNo AS productNo,
            p.name AS productName,
            p.price AS price,
            c2.category2No AS category2No,
            c2.name AS category2Name,
            c2.name_ko AS category2Name_ko,
            c1.category1No AS category1No,
            c1.name AS category1Name,
            c1.name_ko AS category1Name_ko
        FROM
            product p
                LEFT JOIN productPhoto photo ON photo.productNo = p.productNo
                LEFT JOIN category2 c2 ON p.category2No = c2.category2No
                LEFT JOIN category1 c1 ON c2.category1No = c1.category1No
        WHERE
            p.name LIKE CONCAT('%', #{keyword}, '%')
          AND c1.name LIKE CONCAT('%', #{category}, '%');
    </select>

    <select id="getCategory1List" resultType="bitc.ftp.teamproject.vo.admin.AdminCategoryVO">
        select name, name_ko
        from category1
    </select>

    <select id="getProductById" parameterType="int" resultType="bitc.ftp.teamproject.vo.admin.AdminProductVO">
        SELECT
            photo.photoNo AS photoNo,
            photo.photoName AS photoName,
            p.productNo AS productNo,
            p.name AS productName,
            p.price AS price,
            c2.category2No AS category2No,
            c2.name AS category2Name,
            c2.name_ko AS category2Name_ko,
            c1.category1No AS category1No,
            c1.name AS category1Name,
            c1.name_ko AS category1Name_ko

        FROM
            product p
                LEFT JOIN productPhoto photo ON photo.productNo = p.productNo
                LEFT JOIN category2 c2 ON p.category2No = c2.category2No
                LEFT JOIN category1 c1 ON c2.category1No = c1.category1No
        WHERE
            p.productNo = #{productNo};
    </select>

    <update id="updateProduct" parameterType="bitc.ftp.teamproject.vo.admin.AdminProductVO">
        UPDATE product
        SET
            name = #{productName},
            price = #{price},
            category2No = #{category2No}
        WHERE
            productNo = #{productNo};
    </update>

    <update id="updateProductPhoto" parameterType="bitc.ftp.teamproject.vo.admin.AdminProductPhotoVO">
        Update productPhoto set photoName = #{photoName} where productNo = #{productNo}
    </update>

    <insert id="insertProduct" useGeneratedKeys="true" keyProperty="productNo">
        INSERT INTO product (name, price, category2No)
        VALUES (#{productName}, #{price}, #{category2No})
    </insert>

    <insert id="insertProductPhoto">
        INSERT INTO productPhoto (photoName, productNo)
        VALUES (#{photoName}, #{productNo})
    </insert>

    <delete id="deleteProduct" parameterType="int">
        DELETE FROM product WHERE productNo = #{productNo}
    </delete>

    <select id="findCategory1NameByCategory2No" parameterType="int" resultType="String">
        SELECT c1.name
        FROM category1 c1
                 JOIN category2 c2 ON c1.category1No = c2.category1No
        WHERE c2.category2No = #{category2No}
    </select>

    <select id="findCategory2NameByCategory2No" parameterType="int" resultType="String">
        SELECT name
        FROM category2
        WHERE category2No = #{category2No}
    </select>

    <delete id="deleteProductPhotosByProductNo" parameterType="int">
        DELETE FROM productPhoto WHERE productNo = #{productNo}
    </delete>
</mapper>
