<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitc.ftp.teamproject.mapper.admin.AdminUserMapper">

    <select id="getUserList" resultType="bitc.ftp.teamproject.vo.admin.AdminUserVO">
        SELECT
            u.userNo,
            u.name,
            u.birth,
            u.tel,
            u.gender,
            u.email,
            u.id,
            u.pw,
            u.refundAccount,
            g.userGradeNo,
            g.grade
        FROM
            user u
                LEFT JOIN
            userGrade g ON u.userGradeNo = g.userGradeNo;
    </select>

    <select id="getUserDetails" resultType="bitc.ftp.teamproject.vo.admin.AdminUserVO">
        SELECT
            u.userNo,
            u.name,
            u.birth,
            u.tel,
            u.gender,
            u.email,
            u.id,
            u.pw,
            u.refundAccount,
            g.userGradeNo,
            g.grade
        FROM
            user u
                LEFT JOIN
            userGrade g ON u.userGradeNo = g.userGradeNo
        WHERE
            u.userNo = #{userNo};
    </select>

    <delete id="deleteUser">
        DELETE FROM user WHERE userNo = #{userNo}
    </delete>

    <select id="searchUsers" resultType="bitc.ftp.teamproject.vo.admin.AdminUserVO">
        SELECT
            u.userNo,
            u.name,
            u.birth,
            u.tel,
            u.gender,
            u.email,
            u.id,
            u.pw,
            u.refundAccount,
            g.userGradeNo,
            g.grade
        FROM
            user u
                LEFT JOIN
            userGrade g ON u.userGradeNo = g.userGradeNo
        WHERE
            u.name LIKE CONCAT('%', #{keyword}, '%')
           OR u.email LIKE CONCAT('%', #{keyword}, '%')
           OR u.id LIKE CONCAT('%', #{keyword}, '%');
    </select>

</mapper>
