<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitc.ftp.teamproject.mapper.ProductMapper">

    <select id="getProductList" resultType="ProductVO">
        select p.productNo, p.name, p.price, ph.photoName, c1.category1No, c1.name_ko as category1Name, c2.category2No, c2.name_ko as category2Name
        from product p, productPhoto ph, category1 c1, category2 c2
        where p.productNo = ph.productNo
          and p.category2No = c2.category2No
          and c2.category1No = c1.category1No
          and p.category2No = #{category2No};
    </select>

    <select id="getAllCategory1List" resultType="CategoryVO">
        select category1No as categoryNo, name, name_ko
        from category1
    </select>
    <select id="getAllCategory2List" resultType="CategoryVO">
        select category2No as categoryNo, name, name_ko
        from category2
    </select>

    <select id="getProductDetail" resultType="ProductDetailVO">
        select p.name, p.price, ph.photoName, p.productNo
        from product p , productPhoto ph
        where p.productNo = ph.productNo
          and p.productNo = #{productNo}
    </select>

    <select id="getAllColorList" resultType="ColorVO">
        select pc.colorNo, pc.colorName
        from product p , productColor pc
        where p.productNo = pc.productNo
          and p.productNo = #{productNo}
    </select>

    <select id="getOneColorVO" resultType="ColorVO">
        select colorNo, colorName, productNo
        from productColor
        where colorNo = #{colorNo};
    </select>

    <select id="getOneSizeVO" resultType="SizeVO">
        select sizeNo, sizeName, productNo
        from productSize
        where sizeNo = #{sizeNo};
    </select>

    <select id="getAllSizeList" resultType="SizeVO">
        select ps.sizeNo, ps.sizeName
        from product p , productSize ps
        where p.productNo = ps.productNo
          and p.productNo = #{productNo}
    </select>

    <select id="getUserVO" resultType="ProductUserVO">
        select userNo, name, tel, email, refundAccount
        from user
        where userNo = #{userNo};
    </select>

    <select id="getAddressVO" resultType="AddressVO">
        select addressListNo, userNo, address, addressName
        from addressList
        where userNo = #{userNo};
    </select>

    <insert id="addCart" parameterType="AddCartVO">
        insert into cart(productNo, userNo)
        values (#{productNo}, #{userNo})
    </insert>

    <insert id="buyVO" parameterType="BuyVO">
        insert into buylist(productNo, userNo, addressListNo, colorNo, sizeNo)
        values (#{productNo}, #{userNo}, #{addressListNo}, #{colorNo}, #{sizeNo})
    </insert>

    <select id="getQuestionList" resultType="QuestionVO">
        select q.questionNo, u.userNo, u.name, p.productNo, q.content, q.uploadDate
        from user u, question q, product p
        where u.userNo = q.userNo
          and q.productNo = p.productNo
          and q.productNo = #{productNo}
          and q.userno = #{userNo};
    </select>

    <select id="getAnswerList" resultType="AnswerVO">
        select u.userNo, u.name, a.questionNo, a.content, a.uploadDate
        from user u, question q, answer a
        where q.questionNo = a.questionNo
          and u.userNo = q.userNo
          and q.questionNo = #{questionNo}
    </select>

    <insert id="addQuestion" parameterType="QuestionVO">
        insert into question (userNo, content, productNo)
        values(#{userNo}, #{content}, #{productNo})
    </insert>
</mapper>